@font-face {
  font-family: "Lighthaus";
  src: url("../fonts/Lighthaus.woff");
  font-weight: normal;
  font-style: normal;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ffffff;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #f4efea;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.l-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0;
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__mob {
    display: none;
  }
  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 155px;
      max-height: 70px;
    }
    &-text {
      display: block;
      margin: 0 0 0 16px;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #1d1a1a;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1d1a1a;
    a {
      color: #1d1a1a;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #5c241d;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #1d1a1a;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  &__button {
    display: block;
    position: relative;
    padding: 10px 16px;
    border: 2px solid #1d1a1a;
    box-sizing: border-box;
    border-radius: 999rem;
    background: transparent;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #1d1a1a;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 0 0 0;
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
        position: relative;
        padding: 8px 0;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #1d1a1a;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #5c241d;
          text-decoration: none;
        }
      }
    }
  }
}

.l-home-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 0 0;
  overflow: hidden;
  background: url("../images/white_bg_hack.png") no-repeat top 400px center;
  background-size: 100% 100%;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    color: #1d1a1a;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding-bottom: 60px;
    overflow: visible !important;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
    border: 2px solid #1d1a1a;
    box-sizing: border-box;
    border-radius: 60px 0px;
    background-position: center center;
    background-size: cover;
  }
  .swiper-pagination-bullet {
    width: auto;
    height: auto;
    min-height: 34px;
    margin: 0 10px !important;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1d1a1a;
    text-align: center;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #1d1a1a;
  }
  .swiper-pagination {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: auto;
    margin: 0 auto;
    padding: 0 10px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      right: 100%;
      top: 45%;
      width: 110px;
      height: 2px;
      background: #1d1a1a;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 100%;
      top: 45%;
      width: 110px;
      height: 2px;
      background: #1d1a1a;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border: 2px solid #1d1a1a;
    border-radius: 999rem;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      display: block;
      width: 47px;
      height: 17px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        width: 19px;
        height: 17px;
        object-fit: cover;
        filter: brightness(0) invert(1);
        transform: none;
      }
      border-color: #1d1a1a;
      background: #66433f;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: -100px;
    img,
    svg {
      transform: translateX(10px);
    }
    &:hover {
      img,
      svg {
        object-position: center left;
      }
    }
  }
  .swiper-button-next {
    right: -100px;
    img,
    svg {
      transform: translateX(-10px);
    }
    &:hover {
      img,
      svg {
        object-position: center right;
      }
    }
  }
}

.l-home-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 0 0;
  background: #ffffff url("../images/home_info_title_1.svg") no-repeat center top;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    height: 450px;
    border: 2px solid #1d1a1a;
    border-radius: 60px 0px;
    background-size: cover;
    background-position: center center;
  }
  &__title {
    display: block;
    margin: 0 0 22px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    color: #1d1a1a;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1d1a1a;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 20px 20px 0 0;
    padding: 14px 30px;
    background: #5c241d;
    border: 2px solid #1d1a1a;
    border-radius: 999rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__button-alt {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 20px 0 0 0;
    padding: 14px 26px 14px 20px;
    background: transparent;
    border: 2px solid #1d1a1a;
    border-radius: 999rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1d1a1a;
    text-align: center;
    img,
    svg {
      display: inline-block;
      position: relative;
      max-width: 22px;
      max-height: 22px;
      margin-right: 15px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.l-home-clients {
  display: block;
  position: relative;
  padding: 50px 0 30px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    color: #1d1a1a;
  }
  &-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.l-home-group {
  display: block;
  position: relative;
  width: 100%;
  background: #ffffff url("../images/home_info_title_group.svg") no-repeat left calc(50vw - 700px) top 40px;
}

.l-home-places {
  display: block;
  position: relative;
  padding: 120px 0 0 0;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    color: #1d1a1a;
  }
  &__text {
    display: block;
    margin: 10px 0 25px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1d1a1a;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 10px 0;
    padding: 14px 40px;
    background: transparent;
    border: 2px solid #1d1a1a;
    border-radius: 999rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1d1a1a;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 0 30px 0;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 290px;
      border: 2px solid #1d1a1a;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(92, 36, 29, 0.5), rgba(92, 36, 29, 0.5));
        z-index: 2;
        opacity: 0;
        transition: all 0.2s ease-out;
      }
    }
    &__title {
      display: block;
      margin: 17px 0 7px 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 41px;
      color: #1d1a1a;
    }
    &__row {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #5c241d;
    }
    &__arrow {
      display: block;
      position: relative;
      width: 25px;
      height: 9px;
      margin-left: 9px;
      background: url("../images/icon_arrow_right_long.png") no-repeat right center;
      transition: all 0.2s ease-out;
    }
    &_left {
      .l-home-places-card__image {
        border-radius: 60px 0 0 0;
        &:after {
          border-radius: 60px 0 0 0;
        }
      }
    }
    &_right {
      .l-home-places-card__image {
        border-radius: 0 0 60px 0;
        &:after {
          border-radius: 0 0 60px 0;
        }
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-home-places-card__image:after {
        opacity: 1;
      }
      .l-home-places-card__arrow {
        width: 50px;
      }
      text-decoration: none;
    }
  }
}

.l-home-menu {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 110px 0;
  background: #ffffff url("../images/home_menu_title.svg") no-repeat left 30vw top;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    color: #1d1a1a;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1d1a1a;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    &_left {
      border-radius: 30px 0 0 0;
      .l-home-menu-card__content {
        border-radius: 30px 0 0 0;
      }
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 200px;
      padding: 23px 28px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
      border: 2px solid #1d1a1a;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-home-menu-card__content {
        background: linear-gradient(0deg, rgba(92, 36, 29, 0.5), rgba(92, 36, 29, 0.5)),
          linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
      }
      text-decoration: none;
    }
  }
  &-more {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    min-height: 200px;
    margin: 0 auto 30px auto;
    padding: 23px 28px;
    border: 2px solid #1d1a1a;
    border-radius: 0px 0px 30px 0px;
    background: #5c241d;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    text-align: center;
    img,
    svg {
      display: block;
      max-width: 60px;
      max-height: 60px;
      margin-bottom: 8px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #1d1a1a;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.l-home-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 90px 0;
  background: #5c241d;
  overflow: hidden;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    color: #ffffff;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: -150px;
      top: -70px;
      width: 800px;
      height: 450px;
      background: url("../images/home_form_bg.svg") no-repeat 0 0;
      z-index: 0;
      pointer-events: none;
    }
    &_alt {
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: -150px;
        top: -100px;
        width: 800px;
        height: 450px;
        background: url("../images/home_form_bg.svg") no-repeat 0 0;
        z-index: 0;
        pointer-events: none;
      }
    }
    &_contacts {
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: -150px;
        top: -130px;
        width: 800px;
        height: 450px;
        background: url("../images/home_form_bg.svg") no-repeat 0 0;
        z-index: 0;
        pointer-events: none;
      }
    }
  }
  &__text {
    display: block;
    margin: 12px 0 10px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  &__info {
    display: block;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.5;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    padding: 14px;
    background: #1d1a1a;
    border: 2px solid #ffffff;
    border-radius: 999rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 14px 0;
    border: 0;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #ffffff;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.l-home-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 140px 0 50px 0;
  background: url("../images/home_about_title.svg") no-repeat left calc((100vw - 1200px) / 2 + 50px) top 60px;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 12px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    color: #1d1a1a;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1d1a1a;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 0 0 30px 180px;
    padding: 14px 27px;
    background: #5c241d;
    border: 2px solid #1d1a1a;
    border-radius: 999rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0 0 30px 0;
    border: 2px solid #1d1a1a;
    box-sizing: border-box;
    border-radius: 60px 0px;
    background-position: center center;
    background-size: cover;
  }
}

.l-home-features {
  display: block;
  position: relative;
  padding: 20px 0;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 60px 0;
    &__row {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
    }
    &__image {
      display: inline-flex;
      align-items: center;
      position: relative;
      flex: 0 0 100px;
      height: 75px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      max-width: 180px;
      margin: 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      color: #1d1a1a;
    }
    &__text {
      display: block;
      max-width: 285px;
      margin: 22px 0 0 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #1d1a1a;
    }
  }
}

.l-home-papers {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 50px 0;
  border-bottom: 2px solid #1d1a1a;
  overflow: hidden;
  &__title {
    display: inline-block;
    position: relative;
    margin: 0 0 27px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    color: #1d1a1a;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: calc(100% + 50px);
      width: 100vw;
      height: 2px;
      background: #1d1a1a;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  .swiper-slide {
    &:first-child {
      .l-home-papers-card {
        border-radius: 30px 0px 0px 0px;
        &:after {
          border-radius: 30px 0px 0px 0px;
        }
      }
    }
    &:last-child {
      .l-home-papers-card {
        border-radius: 0px 0px 30px 0px;
        &:after {
          border-radius: 0px 0px 30px 0px;
        }
      }
    }
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 300px;
    margin: 0 auto 16px auto;
    border: 2px solid #1d1a1a;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    &:first-child {
      border-radius: 30px 0px 0px 0px;
      &:after {
        border-radius: 30px 0px 0px 0px;
      }
    }
    &:last-child {
      border-radius: 0px 0px 30px 0px;
      &:after {
        border-radius: 0px 0px 30px 0px;
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(92, 36, 29, 0.7) url("../images/icon_zoom.svg") no-repeat center center;
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:after {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.l-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 25px 0;
  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 155px;
      max-height: 70px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  &__phone {
    display: block;
    margin: 45px 0 22px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #1d1a1a;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 10px 16px;
    border: 2px solid #1d1a1a;
    box-sizing: border-box;
    border-radius: 999rem;
    background: transparent;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #1d1a1a;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #1d1a1a;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #5c241d;
          text-decoration: none;
        }
      }
    }
  }
  &__subtitle {
    display: block;
    position: relative;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1d1a1a;
    opacity: 0.5;
  }
  &__info {
    display: block;
    position: relative;
    margin: 0 0 24px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1d1a1a;
    a {
      color: #1d1a1a;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #5c241d;
        text-decoration: none;
      }
    }
  }
  &__ig {
    display: block;
    position: relative;
    margin: 30px 0 25px 0;
    img,
    svg {
      display: block;
      max-width: 120px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #5c241d;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
}

.l-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #f4efea url("../images/modal_bg.svg") no-repeat center center;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 530px;
    margin: 20px 0;
    padding: 20px 30px;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    color: #1d1a1a;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1d1a1a;
  }
  &__info {
    display: block;
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #1d1a1a;
    opacity: 0.5;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    padding: 14px;
    background: #5c241d;
    border: 2px solid #1d1a1a;
    border-radius: 999rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #66433f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  ::placeholder {
    color: rgba(29, 26, 26, 0.5);
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 14px 0;
    border: 0;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #1d1a1a;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1d1a1a;
  }
}

.l-bottom {
  display: block;
  position: relative;
  width: 100%;
  background: #1d1a1a;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__info {
    display: block;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    a {
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 3px 0 10px 0;
  list-style: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(29, 26, 26, 0.5);
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: rgba(29, 26, 26, 0.5);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: rgba(29, 26, 26, 1);
        text-decoration: none;
      }
    }
  }
}

.l-page-title {
  display: block;
  position: relative;
  margin: 0 0 35px 0;
  font-family: Lighthaus;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 64px;
  color: #1d1a1a;
  z-index: 3;
}

.l-menu {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    padding-bottom: 50px;
    border-bottom: 2px solid #1d1a1a;
    &:last-child {
      margin-bottom: 0;
      border: 0;
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      max-width: 500px;
      height: 450px;
      border: 2px solid #1d1a1a;
      border-radius: 60px 0px;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 450px;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0 0 30px 0;
      font-family: Lighthaus;
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 58px;
      color: #1d1a1a;
    }
    &__price {
      display: block;
      position: relative;
      margin: 20px 0 0 0;
      font-family: Lighthaus;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 39px;
      color: #1d1a1a;
    }
    &__rows {
      display: block;
      position: relative;
      width: 100%;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 50px 0 0 0;
      font-family: Lighthaus;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 39px;
      color: #1d1a1a;
    }
    &__button {
      display: inline-block;
      position: relative;
      padding: 14px 22px;
      background: transparent;
      border: 2px solid #1d1a1a;
      border-radius: 999rem;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #1d1a1a;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #66433f;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-bottom: 2px solid rgba(29, 26, 26, 0.2);
  }
  .table thead th {
    padding: 12px 2px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #1d1a1a;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  .table tbody td {
    padding: 12px 2px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1d1a1a;
    text-align: center;
    &:first-child {
      font-weight: 500;
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  .table tbody {
    border: 0;
    tr:last-child {
      border: 0;
      td {
        border: 0;
      }
    }
  }
}

.l-goods {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0 60px 0;
  &__nav {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 16px 0;
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #5c241d;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
          color: #5c241d;
          text-decoration: none;
        }
      }
    }
  }
  &__title {
    display: inline-block;
    position: relative;
    margin: 0 0 20px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    color: #1d1a1a;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: calc(100% + 50px);
      width: 100vw;
      height: 2px;
      background: #1d1a1a;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 220px;
    margin: 0 0 50px 0;
    &__image {
      display: block;
      width: 100%;
      height: 200px;
      border: 2px solid #1d1a1a;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 17px 0 7px 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      color: #1d1a1a;
    }
    &__text {
      display: block;
      margin: 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #1d1a1a;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      width: 100%;
      padding-top: 10px;
    }
    &__price {
      display: block;
      margin: 0 20px 0 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #1d1a1a;
    }
    &__info {
      display: block;
      margin: 0 20px 0 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #1d1a1a;
    }
    &__button {
      display: block;
      position: relative;
      width: 100%;
      padding: 14px 22px;
      background: transparent;
      border: 2px solid #1d1a1a;
      border-radius: 999rem;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #1d1a1a;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #66433f;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 80px 0;
  background: url("../images/white_bg_hack.png") no-repeat center top 300px;
  background-size: 100% 100%;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0 0 50px 0;
    border: 2px solid #1d1a1a;
    border-radius: 60px 0px;
    background-size: cover;
    background-position: center center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 10px 0;
    font-family: Lighthaus;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    color: #1d1a1a;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    display: block;
    margin: 0 0 20px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1d1a1a;
  }
  a {
    color: #5c241d;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  ul {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1d1a1a;
    li {
      display: block;
      position: relative;
      margin: 0 0 10px 0;
      padding: 0 0 0 35px;
      background: url("../images/icon_ul_li.svg") no-repeat left 15px top 8px;
    }
  }
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-bottom: 2px solid rgba(29, 26, 26, 0.2);
  }
  .table {
    margin: 0 0 30px 0;
  }
  .table thead th {
    padding: 12px 2px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #1d1a1a;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  .table tbody td {
    padding: 12px 2px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1d1a1a;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  .table tbody {
    border: 0;
    tr:last-child {
      border: 0;
      td {
        border: 0;
      }
    }
  }
}

.l-places {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;
  background: #ffffff;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 50px 0;
    border-bottom: 2px solid #1d1a1a;
    &:last-child {
      margin-bottom: 0;
      border: 0;
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 400px;
    }
    &__title {
      display: block;
      margin: 0 0 12px 0;
      font-family: Lighthaus;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 52px;
      color: #1d1a1a;
    }
    &__text {
      display: block;
      margin: 0 0 20px 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #1d1a1a;
    }
    &__subtitle {
      display: block;
      margin: 0 0 9px 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #1d1a1a;
      opacity: 0.5;
    }
    &__price {
      display: block;
      margin: 0;
      font-family: Lighthaus;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 39px;
      color: #1d1a1a;
    }
    &__button {
      display: inline-block;
      position: relative;
      margin: 30px 0 0 0;
      padding: 14px 33px;
      background: transparent;
      border: 2px solid #1d1a1a;
      border-radius: 999rem;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #1d1a1a;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #66433f;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 400px;
      border: 2px solid #1d1a1a;
      border-radius: 60px 0px;
      background-position: center center;
      background-size: cover;
    }
  }
}

.l-contacts {
  display: block;
  position: relative;
  padding-bottom: 100px;
  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #1d1a1a;
    opacity: 0.5;
  }
  &__info {
    display: block;
    margin: 0 0 26px 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #1d1a1a;
    a {
      color: #1d1a1a;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #5c241d;
        text-decoration: none;
      }
    }
  }
  &__arrow {
    display: block;
    position: relative;
    width: 25px;
    height: 9px;
    margin-left: 9px;
    background: url("../images/icon_arrow_right_long.png") no-repeat right center;
    transition: all 0.2s ease-out;
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #5c241d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .l-contacts__arrow {
        width: 50px;
      }
      color: #5c241d;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  max-width: 770px;
  height: 450px;
  margin-top: -120px;
  border: 2px solid #1d1a1a;
  box-sizing: border-box;
  border-radius: 60px 0px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .l-header__info {
    margin: 10px 0;
  }
  .l-header__phone {
    width: 100%;
    margin: 10px 0;
  }
  .l-header__logo-text {
    display: none;
  }
  .l-header__nav {
    display: none;
  }
  .l-header__nav li {
    width: 100%;
    a {
      width: 100%;
    }
  }
  .l-header__info {
    display: none;
  }
  .l-header__mob {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5c241d;
      text-decoration: none;
    }
  }
  .l-home-top__title {
    font-size: 36px;
    line-height: 1.2;
  }
  .l-home-top-card {
    height: 300px;
  }
  .l-home-info {
    padding: 20px 0;
    br {
      display: none;
    }
  }
  .l-home-info__image {
    height: 300px;
    margin: 20px auto;
  }
  .l-home-info__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .l-home-clients {
    padding: 20px 0;
  }
  .l-home-clients__title {
    text-align: center;
  }
  .l-home-places {
    padding: 20px 0;
  }
  .l-home-places__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .l-home-menu {
    padding: 20px 0;
  }
  .l-home-menu__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .l-home-form {
    padding: 20px 0;
  }
  .l-home-form__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .l-home-form__info {
    margin: 10px 0;
  }
  .l-home-form input {
    margin-bottom: 20px;
  }
  .l-home-about {
    padding: 20px 0;
  }
  .l-home-about__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .l-home-about__button {
    width: 100%;
    margin: 0;
  }
  .l-home-about__image {
    height: 300px;
    margin: 20px auto;
  }
  .l-home-features-card {
    margin-bottom: 30px;
  }
  .l-home-papers__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
  }
  .l-footer {
    padding: 40px 0;
  }
  .l-footer__phone {
    margin: 20px 0;
  }
  .l-footer__nav {
    padding: 20px 0;
  }
  .l-modal__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .l-modal__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.2;
  }
  .l-modal input {
    margin-bottom: 20px;
  }
  .l-modal__info {
    margin: 10px 0;
  }
  .l-page-title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.2;
  }
  .l-places-card__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.2;
  }
  .l-menu-card__image {
    height: 300px;
  }
  .l-menu-card__title {
    margin: 20px 0;
    font-size: 32px;
    line-height: 1.2;
  }
  .l-menu-card {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .l-menu-card__content {
    min-height: auto;
  }
  .l-menu-card__button {
    width: 100%;
    margin: 10px 0;
  }
  .l-menu-card__row {
    margin: 10px 0 0 0;
  }
  .l-menu {
    padding-bottom: 20px;
  }
  .l-goods {
    padding: 0 0 20px 0;
  }
  .l-goods-card {
    margin-bottom: 30px;
  }
  .l-home-form__title_alt:after {
    display: none;
  }
  .l-home-form__title:after {
    display: none;
  }
  .l-article__image {
    height: 300px;
    margin-bottom: 30px;
  }
  .l-article {
    padding-bottom: 20px;
  }
  .l-places {
    padding: 0;
  }
  .l-places-card {
    margin-bottom: 20px;
    padding: 20px 0;
  }
  .l-places-card__content {
    min-height: auto;
    margin-bottom: 20px;
  }
  .l-places-card__image {
    height: 300px;
  }
  #map {
    margin: 20px 0;
  }
  .l-contacts {
    padding: 0 0 20px 0;
  }
  .l-header__logo {
    width: 100%;
  }
  .l-header__mob {
    z-index: 9;
  }
  .l-home-places__title {
    font-size: 28px;
  }
  .l-page-title_mob {
    font-size: 30px;
  }
  .l-home-papers-card {
    border-radius: 0 !important;
  }
  .l-home-papers__cards {
    width: 220px;
    margin: 0 auto;
    overflow: visible !important;
  }
  .l-home-papers {
    overflow: hidden;
  }
  .l-home-clients__cards {
    width: 160px;
    margin: 0 auto;
    overflow: visible !important;
  }
  .l-home-clients {
    overflow: hidden;
  }
}
